*{
    padding : 0 ;
    margin : 0 ;
    font-family: "Roboto Flex";
}
html, body {
    height: 100%; 
    width : 100% ;
}
#main {
    width : 100% ;
    background-color: #fff;
}
#home {
    width : 100% ;
    min-height : 100vh ;
}
#nav {
    display : flex ;
    align-items: center;
    justify-content: space-between;
    padding : 15px 30px ;
}
#nav img {
    width : 100px ;
}
#nav a {
    color : #000 ;
    text-decoration: none;
    font-size: 1.2vw;
}

#nav #right {
    display : flex ;
    gap : 20px ;
    justify-content: space-between;
}

#home #homemain {
    width : 100% ;
    padding : 25vh 18vw;
}

#homemain h1 {
    font-weight: 400 ;
    font-size : 1.5vw ;
}

.headings {
    display: flex; 
    gap : 40px ;
}
#homemain .headings h1 {

    font-size : 6.5vw ;
    font : transparent ;
    letter-spacing: -4px ;
    font-weight: 1000 ;
    line-height : 1 ;
    color : transparent ;
    -webkit-text-stroke: 0.01px #000;
}

